


/* [class*="col-"]
{
    margin-top: 5px;
} */
/* .btn{
    color: white !important;
} */
/* [class*="btn-"]
{
    color: white !important;
    
} */

/* 
[class*="btn btn-warning"]
{
    background-color: #dd5c42 !important;
}

[class*="btn btn-warning1"]
{
    background-color: #ed8e34!important;
}

[class*="2row"]
{
    opacity: 0.4;
} */